.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.preparation-time {
    background-color: hsl(331, 52%, 84%);
    border-radius: 10px;
    padding: 0.5px 15px;
}

.preparation-time p {
    color: hsl(307, 100%, 28%);
    font-size: 18px;
    margin-bottom: -5px;

}
.preparation-time ul li {
    padding-bottom: 10px;
    padding-left: 10px;

}

#main-body {
    width: 100%;
    margin: auto;
}

p {
    font-size: 16px;
}

img {
    height: 600px;
    width: 1250px;
    border-radius: 10px;
}

td {
    border-bottom: 1px solid black;
    width: 100%;
}

td.normal-data {
    padding: 8.5px 0px 8.5px 20px;
}

td.numerical-data {
    padding: 8.5px 0px 8.5px 0px;
}

table {
    overflow-x: auto;
}
