body {
    background-color: hsl(219, 66%, 91%);
    margin: 0;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#minor-content {
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    border-radius: 16px;
    text-align: center; 
    max-width: 17%;
    margin-top: 160px; 
}

img {
    border-radius: 10px;
    width: 215px;
}

.paragraphs {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0;
}

#paragraph-1 {
    font-weight: 700;
    font-size: 16px; 
    padding-top: 15px;
}

#paragraph-2 {
    font-weight: 100;
    font-size: 13px;
    padding: 9px;
}
